TELEGRAM_BOT_TOKEN=tu_token_aqui
MISTRAL_API_KEY=tu_api_key_de_mistral
JUMBO_MCP_PORT=3090
JUMBO_MCP_URL=http://mcp_server_jumbo:${JUMBO_MCP_PORT}/buscar
SELLOS_MCP_PORT=3091
SELLOS_MCP_URL=http://mcp_server_sellos:${SELLOS_MCP_PORT}/calcular